# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_JMPAX_LEFT
    def_bool $(shields_list_contains,jmpax_left)

config SHIELD_JMPAX_RIGHT
    def_bool $(shields_list_contains,jmpax_right)
